@model IEnumerable<SuitSupply.CodingTest.ProductCatalog.WebUI.Models.Product>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Startup_Layout.cshtml";
}

<h1 class="my-4">Welcome to Suit Catalog</h1>

<div class="row">
    @{
        foreach (var product in Model)
        {
            string imgSrc = "";
            if (product.Photo != null)
            {
                var base64 = Convert.ToBase64String(product.Photo,0,product.Photo.Length);
                imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
            }
            else
            {
                imgSrc = "../../Content/images/imageNotFound.jpg";
            }

            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">@product.Name</h4>
                    <a href="#"><img class="card-img-top" src="@imgSrc" alt=""></a>
                    <div class="card-body">
                        <p class="card-text">Price: @product.Price</p>
                        <p class="card-text">Last Updated: @product.LastUpdated.ToShortDateString() at @product.LastUpdated.ToShortTimeString()</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", "Home",  new { id = product.Id } )" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
